* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
    
}

#page1 h1 svg {
    height: 6vw;
    border-radius: 50%;
    width: 6vw;

    background-color: #0BA34E;
}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}

#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

#page1-something h4{
    font-size: 1vw;
    font-weight: 400;
    text-transform: lowercase;
    margin-top: 0.5vw;
    padding: 5px 10px; 
    border: 1px solid white;
    border-radius: 50px;
}

#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}

